
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ekle</title>
</head>
<body>
    <div> 
        <h1>Hoşgeldiniz</h1>
        <h2>İsminiz: @ViewBag.Elif</h2>
    </div>
</body>
</html>
