
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>hello</title>
</head>
<body>
    <div> 
        <h1>Hello view</h1>
         <h2>@DateTime.Now</h2>
    </div>
</body>
</html>
